<form method="post" action="{{ path('pessoa_delete', {'id': pessoa.id}) }}" onsubmit="return confirm('Deseja excluir esse cadastro?');">
    <input  type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pessoa.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
